<% if logged_in? %>
<div class="container-fluid ">
<div class='row'>
<div class='col-md-8 col-md-offset-2 '>
  <div class="page-header">
	<h2><%= current_user.name %>の単語登録数</h2>
</div>
<div class='words_count'>
  <p><%= current_user.words.count %></p>
</div>
</div>
</div>
</div>
<% else %>

<div class="jumbotron jubotoron_add">
<div class="container-fluid ">
  <h1>YOUR TANGO</h1>
  <p>YOUR TANGOとは、、、あなただけの単語リストとあなただけの単語クイズをお手軽に作成して、あなたの単語学習を手助けするアプリです</p>
    <%= link_to '新規登録',sign_up_path,class:'btn btn-default btn-lg btn-move' %>
    <%= link_to 'ログイン',login_path,class:'btn btn-default btn-lg btn-move' %>
</div>
</div>

<% end %>
